<div class="article-wrapper">
    <div class="content-article headerText textMargin">
        <h1>ING at a glance:</h1>
    </div>
    <div class="headerText textMargin">
        <h2>Who we are:</h2>
    </div>
    <div class="innerText textMargin">
        <p>ING is a global bank with a strong European base. Our 53,000 employees serve around 38.4 million customers,
            corporate clients and financial institutions in over 40 countries. Our purpose is to empower people to stay
            a step ahead in life and in business.<br><br>Our products include savings, payments,investments, loans and
            mortgages in most of our retail markets. For our Wholesale Banking clients we provide specialised lending,
            tailored corporate finance, debt and equity market solutions, payments &amp;cash management and trade and
            treasury services.<br><br>Customer experience is what differentiates us and we’re continuously innovating to
            improve it. We also partner with others to bring disruptive ideas to market faster.Our shares are listed in
            Amsterdam (INGA NA, INGA.AS),Brussels and New York (ADRs:ING US, ING.N). <br><br>When it comes to
            sustainability, we facilitate and finance society’s shift to a low-carbon future and pioneer innovative
            forms of finance to support a better world. As such, we’re ranked as a leader in the banking sector on the
            Dow Jones Sustainability Index (Europe and World) and we’re included in the FTSE4Good Index.</p>
    </div>
</div>